# backend/.env

# A conexão do banco para o Prisma rodar na SUA máquina (repare no localhost)
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"

# Variáveis do MinIO que a sua API NestJS vai precisar ler para autenticar
MINIO_ENDPOINT="localhost"
MINIO_PORT=9000
MINIO_ROOT_USER="admin"
MINIO_ROOT_PASSWORD="senha_super_secreta_storage"